@model MaplePoolMatch.Models.Hraci

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hraci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vyhry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vyhry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prohry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prohry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uspesnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uspesnost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
